@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    background-color:wheat;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#search{
    background-color:transparent;
    text-align: center;
    margin-top: 50px;
    margin-bottom:20px;


}

input:hover{
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 0px solid;
    background-color:white;
    box-shadow: 0px 0px 5px 0px black;
    transition: all 0.3s linear;
}

input{
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 0px solid;
    background-color:transparent;
    box-shadow: 0px 0px 5px 0px black;
}

.search{
    width: 400px;
    font-size: 20px;
    border-radius: 5px;
    border: 0px solid;
}

#main-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: wheat;
    box-shadow: 0px 0px 5px 0px black;
    border: 0px solid;
    border-radius:10px;
    width: 500px;
    height: 300px;
    transition: all 0.3s ease-in-out;
    
}

#main-container:hover{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    box-shadow: 0px 0px 5px 0px black;
    border: 0px solid;
    border-radius:5px;
    width: 500px;
    height: 300px;
    
    
}

.weather{
    border:0px solid;
    border-radius:5px;
    align-items: center;
    justify-content: center;
    display:flex;
    text-align: center;
    background-color:transparent;
}